config.local
.env
settings.json

node_modules/

dist/
build/
out/

*.tmp
*.log
*.swp

.vscode/

cache/

*.pem 
*.key 
*.crt

*.result
*.coverage

Thumbs.db
.DS_Store

Desafio_3_AluraLatam_G4_Front-End_e-commerce.docx