* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  background: #f5f5f5;
  /* border: 0.5px solid #464646; */
}
                 
/* topo */

.cabecera_contenedor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fff;
}

.cabecera_contenedor_buscador {
  width: 78.88889%;
  /* padding: 32px 0 32px 0; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buscador {
  display: flex;
  width: 100%;
  padding: 2rem 0 2rem 0;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  gap: 30px;
}

.buscador_logo {
  display: flex;
  align-items: center;
}

#ctn-bars-search {
  display: flex;
  width: 40%;
  padding: 0.5rem 1rem;
  background: #8888883f;
  border-radius: 20px;
}

#inputSearch {
  width: 90%;
  height: 2em;
  background: #88888800;
  border: none;
  /* border-bottom: 1px solid #c8c8c8; */
  outline: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  /* font-size: 1rem; */
  transition: width 2s;
}

.fa-solid {
  display: flex;
  align-items: center;
  padding: 1px 1px 1px 13px;
}

/* Descripción producto */

.descripcion {
  width: 100%;
  height: 500px;

  display: flex;
  justify-content: center;
}

.contenedor_descripcion {
  width: 78.88888%;
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
}

.contenedor_imagen {
  width: 40%;
  display: flex;
  justify-content: center;
}

.contenedor_imagen img {
  width: 80%;
}

.contendor_descripcion {
  width: 60%;
  display: flex;
  justify-content: flex-end;

  flex-flow: column;
  gap: 13px;

  text-align: justify;
}

.contendor_descripcion h3 {
  font-size: 2em;
}


/* Inicio lineas de productos */

/* topo */
.lineas_productos_contenedor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
}

.Linea_producto {
  display: flex;
  flex-flow: column;
  width: 78.8888%;
  height: max-content;
  flex-wrap: wrap;
  margin: 10px auto;
}

.topo {
  margin: 13px auto;
  width: 100%;
  /* height: 38px; */
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lineadeproducto_boton {
  display: flex;
  align-items: center;
  gap: 5px;
}

.lineadeproducto_boton a {
  text-decoration: none;
}

.boton-ver-todo {
  padding: 0 3px 0 3px;
  color: #2a7ae4;
  font-family: "Raleway";
  /* font-size: 1em; */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.boton-vector {
  width: 1em;
}

/* galerias */
.productos-contenedor {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  gap: 11px;
}

.producto {
  max-width: 100%;
  height: auto;
  margin: 15px auto;
  background-color: white;
  /* border: 1px solid black; */
  /* border-radius: 12px; */
}

.producto:hover {
    border: 0.5px solid black;
  box-shadow: 5px 5px 5px #464646;
}

.skill_img {
  overflow: hidden;
  margin: 0;
}

.nombre {
  text-align: center;
  background-color: rgb(0, 0, 0);
  height: 25px;
  padding-top: 4px;
  color: white;
  margin: 0;
}

.precio {
  float: left;
  margin: 13px auto;
  padding-left: 10px;
  display: block;
  width: 100%;
  color: rgb(0, 0, 0);
  font-weight: 650;
}

.información {
  width: 176px;
  margin: 13px auto;
  padding-left: 10px;
  color: rgb(0, 0, 0);
}

.ver_producto{
  text-align: center;
  margin: 13px;
  padding: 13px;
}

.ver_producto:hover{
  background-color: #464646;
}

.ver_producto a {
  width: 90%;
  margin: 0 auto;
  padding-left: 10px;
  color: var(--azul-100, #2a7ae4);
  font-family: "Raleway";
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.ver_producto a:hover{
  color: #ffffff;
}

.productos-contenedor .producto:hover .skill_img img {
  transform: scale(1.2);
  transition-duration: 0.8s;
  border-radius: 12px;
}

/* Footer */
/* section formulario */

.formulario {
  display: flex;
  justify-content: center;
  padding: 64px 0 64px 0;
  margin-top: 32px;
  background-color: #eaf2fd;
}

.formulario_contenedor {
  width: 78.8889%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 112px;
}

.formulario_rodapie-contenedor-logo-texto {
  width: 49.29577%;
  display: flex;
  gap: 80px;
}

.formulario_rodapie-logo-texto {
  display: flex;
  width: 37.931034%;
  height: 50px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.formulario_rodapie-logo {
  width: 30.724285%;
  height: 50px;
  flex-shrink: 0;
}

.formulario_rodapie-texto {
  width: 75.724285%;
  height: 18.5px;
  flex-shrink: 0;
}

.formulario_rodapie-links ul {
  display: flex;
  width: 176px;
  height: 234px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
}

.formulario_rodapie-links li a {
  text-decoration: none;

  color: #464646;
  font-family: "Raleway";
  /* font-size: 16px; */
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.formulario_rodapie-links li {
  list-style: none;
}

.formulario__rodapie_titulo-campos-datos {
  width: 49.29577%;
  height: 240px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

.formulario__rodapie_titulo {
  width: 100%;
  height: 19px;

  color: #464646;
  font-family: "Raleway";
  /* font-size: 16px; */
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  align-self: stretch;
}

.formulario__rodapie_nombre-mensaje {
  width: 100%;
  /* height: 56px; */
  border-radius: 4px;

  display: flex;
  padding-top: 8px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  /* gap: 7px; */
  align-self: stretch;

  background: #fff;
}

.formulario__rodapie_nombre {
  width: 100%;
  height: 16px;

  padding: 3px;

  color: var(--preto-50, #a2a2a2);
  font-family: "Raleway";
  /* font-size: 12px; */
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.formulario__rodapie_mensaje {
  width: 100%;
  height: 20px;
  gap: 4px;

  display: flex;
  align-items: center;
  align-self: stretch;

  border: none;
  outline: none;

  color: #464646;
  font-family: "Raleway";
  /* font-size: 18px; */
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.formulario__rodapie_campos-mensaje {
  width: 100%;
  height: 82px;
  padding: 16px, 0px, 0px, 0px;
  display: flex;
  height: 82px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;

  border-radius: 4px;
  background: var(--preto-branco, #fff);
}

.formulario__rodapie_caja-mensaje {
  width: 100%;
  height: 4.125rem;

  display: flex;
  padding: 0.1875rem;
  padding-top: 0.625rem;
  padding-bottom: 3.5rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 2.8125rem;
  flex: 1 0 0;
  align-self: stretch;

  font-family: Raleway;
  /* font-size: 1rem; */
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  border: none;
  outline: none;
}

.boton_enviar-mensaje {
  width: 37.556338%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--azul-100, #2a7ae4);
  color: var(--preto-branco, #fff);
  font-family: Raleway;
  /* font-size: 1em; */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}

/* Section pie de pagina */

.pie_pagina {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem 2rem 1rem;
  background: #ffffff;
}

.pie_pagina-parrafo {
  width: 60%;
  display: flex;
  justify-content: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  color: #464646;
}




/*** width 768px ***/
@media (max-width: 768px) {
 

  .descripcion {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 113px;
    margin-bottom: 113px;
  }

  .contenedor_descripcion {
    width: 78.888888%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .contenedor_imagen {
    width: 100%;
    margin: 0 auto;

    display: flex;
    align-items: center;
  }

  .contendor_descripcion {
    width: 100%;
    margin: 0 auto;
  }

  .productos-contenedor {
    gap: 0;
  }

}

/*** width 390px ***/
@media (max-width: 390px) {
  .buscador {
    display: flex;
    flex-direction: column;
    gap: 19px;
  }

  

  .topo {
    display: flex;
    flex-direction: column-reverse;
    gap: 21px;
  }

 

  #ctn-bars-search {
    display: none;
  }


  .formulario_contenedor {
    display: flex;
    flex-direction: column;
  }

  .formulario_rodapie-contenedor-logo-texto {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .formulario_rodapie-logo-texto {
    width: 63.768115%;
  }

  .formulario_rodapie-links ul {
    align-items: center;
  }

  .formulario__rodapie_titulo-campos-datos {
    width: 100%;
  }

  .pie_pagina-parrafo {
    text-align: center;
  }
}
