* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  background: #f5f5f5;
  /* border: 0.5px solid #464646; */
}

/* topo */

.cabecera_contenedor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fff;
}

.cabecera_contenedor_buscador {
  width: 78.88889%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buscador {
  display: flex;
  width: 100%;
  padding: 2em 0 2em 0;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  gap: 30px;
}

.buscador_logo {
  display: flex;
  width: 15.5%;

  align-items: center;
}

#ctn-bars-search {
  display: flex;
  width: 34.55%;
  padding: 0.5em 1em;
  background: #8888883f;
  border-radius: 20px;
}

#inputSearch {
  width: 90%;
  height: 2em;
  background: #88888800;
  border: none;
  border-bottom: 1px solid #c8c8c8;
  outline: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  /* font-size: 1rem; */
  transition: width 2s;
}

.fa-solid {
  display: flex;
  align-items: center;
  padding: 1px 1px 1px 13px;
}

/* Iniciar sesion */

.login {
  width: 35%;
  margin-top: 50px;
  margin-left: 501px;
  margin-bottom: 100px;
}

.login_contenedor {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.login_title {
  width: 100%;
  /* height: 60px; */
  flex-shrink: 0;
  color: var(--preto-100, #464646);
  font-family: Raleway;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nombre,
.email,
.usuario,
.contrasena {
  width: 100%;
  height: 70px;
  flex-shrink: 0;

  border-radius: 4px;
  border: none;
  background: var(--preto-branco, #fff);

  color: #a2a2a2;
  font-family: Raleway;
  /* font-size: 16px; */
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

.nombre,
.email,
.usuario,
.contrasena::placeholder {
  color: #a2a2a2;
  font-family: Raleway;
  /* font-size: 16px; */
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

.login_button {
  width: 100%;
  padding: 13px 13px;

  background: var(--azul-100, #2a7ae4);
  border: none;

  color: var(--preto-branco, #fff);
  font-family: Raleway;
  font-size: 1em;
}

/* .login_button_inicio {
  display: flex;
  width: 50%;
  text-decoration: none;
  padding: 13px 13px;
  justify-content: center;
  align-items: center;
  background: var(--azul-100, #2a7ae4);
  border: none;
  color: var(--preto-branco, #fff);
  font-family: "Raleway";
  font-size: 1em;
} */

/* Footer */
/* section formulario */
/* 
.formulario {
  display: flex;
  justify-content: center;
  padding: 64px 0 64px 0;
  margin-top: 32px;
  background-color: #eaf2fd;
}

.formulario_contenedor {
  width: 78.8889%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 112px;
}

.formulario_rodapie-contenedor-logo-texto {
  width: 49.29577%;
  display: flex;
  gap: 80px;
}

.formulario_rodapie-logo-texto {
  display: flex;
  width: 37.931034%;
  height: 50px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.formulario_rodapie-logo {
  width: 30.724285%;
  height: 50px;
  flex-shrink: 0;
}

.formulario_rodapie-texto {
  width: 75.724285%;
  height: 18.5px;
  flex-shrink: 0;
}

.formulario_rodapie-links ul {
  display: flex;
  width: 176px;
  height: 234px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
}

.formulario_rodapie-links li a {
  text-decoration: none;

  color: #464646;
  font-family: "Raleway";
  
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.formulario_rodapie-links li {
  list-style: none;
}

.formulario__rodapie_titulo-campos-datos {
  width: 49.29577%;
  height: 240px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

.formulario__rodapie_titulo {
  width: 100%;
  height: 19px;

  color: #464646;
  font-family: "Raleway";
  
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  align-self: stretch;
}

.formulario__rodapie_nombre-mensaje {
  width: 100%;
  
  border-radius: 4px;

  display: flex;
  padding-top: 8px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  
  align-self: stretch;

  background: #fff;
}

.formulario__rodapie_nombre {
  width: 100%;
  height: 16px;

  padding: 3px;

  color: var(--preto-50, #a2a2a2);
  font-family: "Raleway";
  
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.formulario__rodapie_mensaje {
  width: 100%;
  height: 20px;
  gap: 4px;

  display: flex;
  align-items: center;
  align-self: stretch;

  border: none;
  outline: none;

  color: #464646;
  font-family: "Raleway";
  
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.formulario__rodapie_campos-mensaje {
  width: 100%;
  height: 82px;
  padding: 16px, 0px, 0px, 0px;
  display: flex;
  height: 82px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;

  border-radius: 4px;
  background: var(--preto-branco, #fff);
}

.formulario__rodapie_caja-mensaje {
  width: 100%;
  height: 4.125rem;

  display: flex;
  padding: 0.1875rem;
  padding-top: 0.625rem;
  padding-bottom: 3.5rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 2.8125rem;
  flex: 1 0 0;
  align-self: stretch;

  font-family: Raleway;
  
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  border: none;
  outline: none;
}

.boton_enviar-mensaje {
  width: 37.556338%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--azul-100, #2a7ae4);
  color: var(--preto-branco, #fff);
  font-family: Raleway;
  
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}
 */

/* Section pie de pagina */

.pie_pagina {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem 2rem 1rem;
  background: #ffffff;
}

.pie_pagina-parrafo {
  width: 60%;
  display: flex;
  justify-content: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  color: #464646;
}

/*** width: 1024px ***/
@media (max-width: 1024px) {
  .login {
    width: 42%;
    margin-left: 265px;
  }

  .formulario_rodapie-contenedor-logo-texto {
    width: 50%;
    flex-direction: column;
    gap: 32px;
  }

  .formulario_rodapie-logo-texto {
    width: 59.259259%;
  }
}

/*** width 768px ***/
@media (max-width: 768px) {
  .login {
    width: 50%;
    height: 430px;
    flex-shrink: 0;
    margin-top: 85.33333px;
    margin-left: 200px;
  }

  .login_title,
  .login_email,
  .login_password,
  .login_button {
    width: 100%;
  }
}

/*** width 390px ***/
@media (max-width: 390px) {
  .login {
    width: 100%;
    margin: 0;
    padding: 64px;
  }

  .formulario_contenedor {
    display: flex;
    flex-direction: column;
  }

  .formulario_rodapie-contenedor-logo-texto {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .formulario_rodapie-logo-texto {
    width: 63.768115%;
  }

  .formulario_rodapie-links ul {
    align-items: center;
  }

  .formulario__rodapie_titulo-campos-datos {
    width: 100%;
  }

  .pie_pagina-parrafo {
    text-align: center;
  }
}
